body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #1c1c1c;
}

.teste, .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teste {
  width: 80vw;
  aspect-ratio: 3 / 1;
  background-color: aqua;
}

.button {
  aspect-ratio: 4 / 1;
  background-color: red;
  --adaptative-size: '.teste' 'width' 'width' 'px' 0.5;
}

.button > p {
  color: white;
  font-family: 'arial black';
}

