<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Base styles -->
  <link rel="stylesheet" href="../../../../styles/tokens.css" />
  <link rel="stylesheet" href="../../../../styles/globals.css" />
  <link rel="stylesheet" href="../../../../styles/icon-mask.css" />

  <!-- Component style -->
  <link rel="stylesheet" href="../styles/range-slider.css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="testando"></div>
  <!-- Range slider -->
  <div
    class="range-slider"
    id="range-slider-example"
    style="
        --symbol:%;
        --min-value:5;
        --max-value:100;
        --step-value:5;
        --default-value:25;
        "
  >

    <!-- Label box -->
    <div class="range-slider__label-box">
      <p class="range-slider__label" responsive-text>Preenchimento</p>
    </div>

    <!-- Body -->
    <div class="range-slider__body-box">
      <div class="range-slider__track">
        <div class="range-slider__filled-track"></div>
        <div class="range-slider__thumb"></div>
      </div>
      <p class="range-slider__value" responsive-text></p>
    </div>

  </div>

  <!-- Component script -->
  <script type="module" src="./range-slider.test.js"></script>
</body>
</html>
