@import url(../../../../styles/tokens.css);

.range-slider__label,
.range-slider__value {
  color: var(--color-text-primary-default);
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing-default);
}

.range-slider__label[responsive-font-size] {
  --responsive-font-size-ratio: 20;
}

.range-slider__value[responsive-font-size] {
  --responsive-font-size-ratio: 26;
  margin-left: calc(var(--main-height) * 0.25);
}
