@import url(./_box.css);
@import url(./_text.css);
@import url(./_thumb.css);
@import url(./_track.css);
@import url(../../../../styles/tokens.css);

:root {
  --main-height: 21.83px;
  --max-value-lenght: 0;
  --thumb-action-scale: var(--scale-hover);

  --symbol: '';
  --min-value: 0;
  --max-value: 100;
  --step-value: 0;
  --default-value: 0;
  --number-of-decimal-places: 0;
}

.range-slider {
  width: fit-content;
  height: var(--main-height);
  min-width: calc(var(--main-height) * 7.5 + calc(var(--max-value-length) * 1ch));
}
