@import url(./_text.css);
@import url(./_body.css);
@import url(./_thumb.css);
@import url(./_track.css);
@import url(./_title-box.css);
@import url(../../../../styles/tokens.css);

:root {
  --track-width: 80%;
  --track-height: 10%;
  --thumb-diameter: 500%;
  --thumb-action-scale: var(--scale-hover);

  --symbol: '';
  --min-value: 0;
  --max-value: 100;
  --step-value: 0;
  --default-value: 0;
  --number-of-decimal-places: 2;
}

.range-slider {
  width: 200px;
  aspect-ratio: 229 / 25;
}
