<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tokens.css">
    <link rel="stylesheet" href="../styles/globals.css">
    <link rel="stylesheet" href="../styles/quote-card.css">
    <link rel="stylesheet" href="../styles/icon-mask.css">
    <link rel="stylesheet" href="../styles/effects.css">
    <link rel="stylesheet" href="../styles/buttons.css">


</head>
<body class="container">
    <div class="quote-card">
        <div class="model-side"></div>
        <div class="print-settings-background"></div>
        <div class="print-settings-side glassmorphism-smoke">

        </div>
    </div>
</body>
</html>
