@import url(tokens.css);

.color-selector {
  width: 330px;
  aspect-ratio: 2.97 / 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-selector > .left-arrow,
.color-selector > .right-arrow {
  width: 10%;
  aspect-ratio: 0.59 / 1;
  transition: var(--transition-fast);
  background-color: var(--color-icon-button-secondary-default);
}
.color-selector > .left-arrow {
  transform: rotateY(180deg);
}

.color-selector > .left-arrow:hover,
.color-selector > .right-arrow:hover {
  cursor: pointer;
  scale: var(--scale-icon-button-hover);
}

.color-selector > .left-arrow:active,
.color-selector > .right-arrow:active {
  scale: var(--scale-icon-button-pressed);
}

.color-selector > .carousel {
  width: 80%;
  aspect-ratio: 2.376 / 1;

  overflow: hidden;
  display: flex;
}

.color-selector > .carousel > .track {
  width: 100%;
  display: flex;
  align-items: center;
  will-change: transform;
  transition: var(--transition-default);
}

.color-selector > .carousel > .track:has(:only-child) {
  justify-content: center;
}

.color-selector > .carousel > .track:has(:nth-child(2)) {
  justify-content: flex-end;
}

.color-selector > .carousel > .track:has(:nth-child(3)) {
  justify-content: flex-start;
}

.color-selector > .carousel > .track .wrapper {
  height: 100%;
  width: 33.33%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-selector > .carousel > .track .wrapper > .color-circle {
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color);
  transition: var(--transition-default);
  filter: drop-shadow(var(--shadow-strong));
}

.color-selector > .carousel > .track .wrapper > .hidden-color {
  transform: scale(var(--scale-hidden));
}

.color-selector > .carousel > .track .wrapper > .selected-color {
  transform: scale(var(--scale-selected));
}
