@import url(tokens.css);

.color-selector {
  width: 300px;
  aspect-ratio: 11 / 4;

  display: flex;
  align-items: center;

  background-color: brown;
}


.color-selector > .left-arrow,
.color-selector > .right-arrow {
  width: 20%;
  aspect-ratio: 3 / 4.2;
  background-color: black;
}
.color-selector > .right-arrow {
  transform: rotateY(180deg);
}
