:root {
    /* ===== Primary Palette ===== */
    --color-primary: #1BD4DF;
    --color-secondary: #054FB8;

    /* ===== Grayscale Palette =====*/
    --color-white: #FAFAFA;
    --color-black: #000000;
    --color-gray-900: #1C1C1C;
    --color-gray-700: #363636;

    /* ===== Semantic Colors ===== */
    --color-success: #73CE96;
    --color-error: #d82929;
    --color-warning: #cfc427;
    --color-info: #1468b6;
    --color-disabled: var(--color-gray-700);
    --color-action-hover: #e0e0e0;
    --color-action-pressed: #cfcfcf;

    /* ===== Interaction States ===== */
    --color-icon-button-primary-hover: #000;
    --color-icon-button-primary-default: #000;
    --color-icon-button-primary-pressed: #000;

    --color-icon-button-secondary-hover: #000;
    --color-icon-button-secondary-default: var(--color-gray-900);
    --color-icon-button-secondary-pressed: #000;

    --color-action-button-primary-hover: #000;
    --color-action-button-primary-default: #000;
    --color-action-button-primary-pressed: #000;

    --scale-icon-button-hover: 1.2;
    --scale-icon-button-pressed: 0.9;
    --scale-selected: 2;
    --scale-hidden: 0.1;

    /* ===== Backgrounds ===== */
    --color-background-primary-default: var(--color-gray-900);
    --color-background-secondary-default: var(--color-white);

    --color-background-primary-emphasis: linear-gradient(
        45deg, var(--color-secondary), var(--color-primary)
    );

    /* ===== Glassmorphism ===== */
    --gradient-background-glassmorphism-clear: linear-gradient(
        45deg, var(--color-white), rgba(255, 255, 255, 0.3)
    );
    --gradient-background-glassmorphism-smoke: linear-gradient(
        45deg, var(--color-black), rgba(0, 0, 0, 0.3)
    );

    /* ===== Text ===== */
    --color-text-primary-default: var(--color-white);
    --color-text-secondary-default: var(--color-gray-900);
    --color-text-primary-accent: var(--color-primary);
    --color-text-primary-disabled: var(--color-disabled);

    --font-family-base: 'K2D', 'Poppins', sans-serif;
    --letter-spacing-default: 0.15em;

    /* ===== Sizes ===== */
    --loading-bar-length: 200px;
    --loading-bar-thickness: 6px;
    --border-radius-default: 3%;
    --border-radius-sm: 4px;
    --border-radius-lg: 12px;

    /* ===== Shadows ===== */
    --shadow-default: -8px 8px 12px rgba(0, 0, 0, 0.6);
    --shadow-strong:  -3px 3px 3px rgba(0, 0, 0, 0.3);
    --shadow-lg: #000;


    /* ===== Transitions ===== */
    --transition-fast: all 0.1s ease;
    --transition-default: all 0.3s ease;
    --transition-bouncing: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
