@import url(../../../../styles/tokens.css);

.color-selector__train {
  width: 100%;
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  transform: translateX(var(--trainPosition));
}

.color-selector__train:has(:only-child) {
  justify-content: center;
}

.color-selector__train:has(:nth-child(2)) {
  justify-content: flex-end;
}

.color-selector__train:has(:nth-child(3)) {
  justify-content: flex-start;
}

.color-selector__train--shake-animation {
  animation: color-selector__train--shake 0.4s ease-in-out;
}

@keyframes color-selector__train--shake {
  0% {
    transform: translateX(var(--trainPosition));
  }
  25% {
    transform: translateX(
      calc(var(--trainPosition) + 4px)
    );
  }
  50% {
    transform: translateX(
      calc(var(--trainPosition) - 4px)
    );
  }
  75% {
    transform: translateX(
      calc(var(--trainPosition) + 2px)
    );
  }
  100% {
    transform: translateX(var(--trainPosition));
  }
}
