@import url(../../../../styles/tokens.css);

.range-slider__track {
  width: calc(var(--main-height) * 7.5);
  height: calc(var(--main-height) * 0.05);
  margin-top: 0.7%;
  border-radius: 1em;

  display: flex;
  align-items: center;

  cursor: pointer;
  background-color: var(--color-disabled);
}

.range-slider__filled-track {
  height: 100%;
  border-radius: 1em 0 0 1em;

  transition: var(--transition-fast);
  background: var(--color-background-primary-emphasis);
}
