<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Base styles -->
  <link rel="stylesheet" href="../../../../styles/tokens.css">
  <link rel="stylesheet" href="../../../../styles/globals.css">

  <!-- Component style -->
  <link rel="stylesheet" href="../styles/standard-button.css">
</head>
<body class="container">

  <!-- Standard Button -->
  <div class="standard-button standard-button--default"
       id="standard-button-example"
       state="default"
       responsive-border-radius>
       <p class="standard-button__text">Click Here!</p>
  </div>

  <!-- Component script -->
  <script type="module" src="../scripts/standard-button.js"></script>
</body>
</html>
