@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-900);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background: var(--color-white);
  color: var(--color-primary);
}
