@import url(../../../../styles/tokens.css);

.color-selector__left-arrow--hidden,
.color-selector__right-arrow--hidden,
.color-selector__left-arrow--default,
.color-selector__right-arrow--default {
  width: 10%;
  aspect-ratio: 1 / 1;

  z-index: 1;
  transition: var(--transition-default);
  background-color: var(--color-icon-button-secondary-default);
}

.color-selector__left-arrow--default,
.color-selector__right-arrow--default {
  opacity: 1;
}

.color-selector__left-arrow--hidden,
.color-selector__right-arrow--hidden {
  opacity: 0;
}

.color-selector__left-arrow--default {
  transform: rotateY(180deg);
}

.color-selector__left-arrow--default:hover,
.color-selector__right-arrow--default:hover {
  cursor: pointer;
  scale: var(--scale-icon-button-hover);
}

.color-selector__left-arrow--default:active,
.color-selector__right-arrow--default:active {
  scale: var(--scale-icon-button-pressed);
}
