<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Base styles -->
  <link rel="stylesheet" href="../../../styles/tokens.css">
  <link rel="stylesheet" href="../../../styles/globals.css">
  <link rel="stylesheet" href="../../../styles/effects.css">
  <link rel="stylesheet" href="../../../styles/icon-mask.css">

  <!-- Component style -->
  <link rel="stylesheet" href="./styles/dropdown-selector.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
</head>

<body class="container">
  <div class="testblock"></div>
  <!-- Dropdown Selector -->
  <div class="dropdown-selector" id="selector-example">

    <!-- Label -->
    <div class="dropdown-selector__label-box">
      <p class="dropdown-selector__label--default" responsive-text>Material</p>
    </div>

    <!-- Selected value and arrow -->
    <div class="dropdown-selector__body-box">
      <div class="dropdown-selector__accent-bar--default"></div>
      <p class="dropdown-selector__value--default" responsive-text>PETG</p>
      <div class="icon-mask dropdown-selector__arrow--default"
           style="--icon-mask-url:url(../assets/icons/arrow-icon-mask.svg)">
      </div>

      <!-- Options menu -->
      <ul class="glassmorphism-smoke dropdown-selector__menu--default">
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PLA</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>ABS</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>TPU</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PETG</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PLA</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>ABS</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>TPU</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PETG</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PLA</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>ABS</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>TPU</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PETG</p>
        </li>
      </ul>
      <!--

        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>ABS</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>TPU</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>PETG</p>
        </li>
        <li class="dropdown-selector__item--default">
          <p class="dropdown-selector__item-value--default" responsive-text>Nylon</p>
        </li>-->

    </div>

  </div>

  <!-- Component script -->
  <script type="module" src="./dropdown-selector.js"></script>
</body>
</html>
