<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../styles/tokens.css">
  <link rel="stylesheet" href="../../../styles/globals.css">
  <link rel="stylesheet" href="../../../styles/icon-mask.css">

  <link rel="stylesheet" href="../../../assets/icons/arrow-icon-mask.svg">
  <link rel="stylesheet" href="./dropdown-selector.css">

  <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
</head>
<body class="container">
  <div class="dropdown-selector" id="material-selector">
    <div class="dropdown-selector__title-box">
      <p class="dropdown-selector__title" responsive-text>Material</p>
    </div>
    <div class="dropdown-selector__value-side">
      <div class="icon-mask dropdown-selector__arrow"
           style="--icon-mask-url:url(../assets/icons/arrow-icon-mask.svg)">
      </div>
    </div>
  </div>
  <script type="module" src="./dropdown-selector.js"></script>
</body>
</html>
