@import url(../../../styles/tokens.css);

.dropdown-selector {
  width: 200px;
  aspect-ratio: 120 / 50;
  /*fit-content*/
}

.dropdown-selector__title-box {
  width: 100%;
  height: 40%;

  display: flex;
  align-items: center;
}

.dropdown-selector__title,
.dropdown-selector__value {
  color: #fafafa /*var(--color-text-primary-disabled)*/;
  font-weight: bold;
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing-default);
}

.dropdown-selector__title {
  --responsive-text-ratio: 10;
}

.dropdown-selector__value {
  --responsive-text-ratio: 5;
}

.dropdown-selector__value-side {
  width: 100%;
  height: 60%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;
}

.dropdown-selector__value-side::before {
  width: 2%;
  height: 80%;
  margin-right: 3%;

  content: "";
  display: block;
  background: var(--color-background-primary-emphasis);
}

.dropdown-selector__arrow {
  height: 70%;
  aspect-ratio: 1 / 1;

  right: 0;
  position: absolute;

  transform: rotateZ(90deg);
  background: var(--color-background-primary-emphasis);
}

