@import url(../../styles/tokens.css);

.color-selector {
  width: 330px;
  aspect-ratio: 2.2 / 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.color-selector__left-arrow--hidden,
.color-selector__right-arrow--hidden,
.color-selector__left-arrow--default,
.color-selector__right-arrow--default {
  width: 6%;
  aspect-ratio: 0.59 / 1;

  z-index: 1;
  transition: var(--transition-fast);
  background-color: var(--color-icon-button-secondary-default);
}

.color-selector__left-arrow--default,
.color-selector__right-arrow--default {
  opacity: 1;
}

.color-selector__left-arrow--hidden,
.color-selector__right-arrow--hidden {
  opacity: 0;
}

.color-selector__left-arrow--default {
  transform: rotateY(180deg);
}

.color-selector__left-arrow--default:hover,
.color-selector__right-arrow--default:hover {
  cursor: pointer;
  scale: var(--scale-icon-button-hover);
}

.color-selector__left-arrow--default:active,
.color-selector__right-arrow--default:active {
  scale: var(--scale-icon-button-pressed);
}

.color-selector__carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 8% 0 8%;
  overflow: hidden;
  display: flex;
}

.color-selector__train {
  width: 100%;
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  transform: translateX(var(--trainPosition));
}

.color-selector__train:has(:only-child) {
  justify-content: center;
}

.color-selector__train:has(:nth-child(2)) {
  justify-content: flex-end;
}


.color-selector__train:has(:nth-child(3)) {
  justify-content: flex-start;
}

.color-selector__train .wrapper {
  height: 100%;
  width: 33.33%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle--hidden,
.color-circle--default,
.color-circle--selected {
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color);
  transition: var(--transition-default);
  filter: drop-shadow(var(--shadow-strong));
}

.color-circle--hidden {
  opacity: 0;
  transform: scale(var(--scale-hidden));
}

.color-circle--default {
  transform: scale(var(--scale-default));
}

.color-circle--selected {
  transform: scale(var(--scale-selected));
}

.color-selector__train--shake-animation {
  animation: color-selector__train--shake 0.4s ease-in-out;
}

@keyframes color-selector__train--shake {
  0% {
    transform: translateX(var(--trainPosition));
  }
  25% {
    transform: translateX(
      calc(var(--trainPosition) + 4px)
    );
  }
  50% {
    transform: translateX(
      calc(var(--trainPosition) - 4px)
    );
  }
  75% {
    transform: translateX(
      calc(var(--trainPosition) + 2px)
    );
  }
  100% {
    transform: translateX(var(--trainPosition));
  }
}
