@import url(../../../../styles/tokens.css);
@import url(../../../../styles/shared-partials/_fade-animations.css);

.dropdown-selector__accent-bar--open,
.dropdown-selector__accent-bar--default {
  height: 100%;
  aspect-ratio: 5 / 80;
  background: var(--color-background-primary-emphasis);
}

.dropdown-selector__accent-bar--open {
  animation:
    fade-out-slide-down--default
    calc(var(--menu-open-duration) * 0.2)
    ease-in
    forwards;
}

.dropdown-selector__accent-bar--default {
  animation:
    fade-in-slide-up--default
    calc(var(--menu-open-duration) * 0.2)
    ease-out
    forwards;
}
