.dropdown-selector__menu--default {
  width: 100%;

  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;
  position: absolute;
  overflow-y: auto;
  max-height: calc(var(--menu-item-height) * var(--menu-max-visible-items));
  border-radius: 0 5%;
}

.dropdown-selector__menu--default::-webkit-scrollbar {
  width: calc(var(--menu-item-height) * 0.03);
}

.dropdown-selector__menu--default::-webkit-scrollbar-track {
  margin: calc(var(--menu-item-height) * 0.2) 0 0 0;
  background: transparent;
}

.dropdown-selector__menu--default::-webkit-scrollbar-thumb {
  background: var(--color-background-primary-emphasis);
}

