.dropdown-selector__menu--open,
.dropdown-selector__menu--default {
  width: 100%;
  max-height: calc(var(--menu-item-height) * var(--max-visible-items));

  display: flex;

  top: 0;
  left: 0;
  position: absolute;

  border-radius: 0 10% 0 10%;
}

.dropdown-selector__menu--open {
  height: auto;
  transition: var(--menu-open-duration) ease-in;
}

.dropdown-selector__menu--default {
  height: 0;
  transition: var(--menu-open-duration) ease-out;
}
