.dropdown-selector__menu--open,
.dropdown-selector__menu--default {
  width: 100%;
  margin-top: 3%;

  top: 0;
  left: 0;
  position: absolute;

  transition: var(--menu-open-duration);
  border-radius: 0 10% 0 10%; /*Create token to this*/
}

.dropdown-selector__menu--open {
  height: 200px;
}

.dropdown-selector__menu--default {
  height: 0;
}

