.dropdown-selector__item--open,
.dropdown-selector__item--default {
  width: 100%;

  display: flex;
  align-items: center;

  list-style: none;
  flex-shrink: 0;
  transition: 0.1s ease-in;
}

.dropdown-selector__item--open::before {
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  content: '';
  position: absolute;
  transition: 0.2s ease-in-out;
  background: linear-gradient(
    to right,
    #054fb8e6 0%,
    #1bd5dfbd 30%,
    #1bd5df00 100%
  );
}

.dropdown-selector__item--open:hover::before {
  width: 100%;
  opacity: 1;
}

.dropdown-selector__item--open {
  height: calc(var(--menu-item-height) * 0.8);
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  position: relative;
}

.dropdown-selector__item--default {
  height: 0;
  opacity: 0;
}

.dropdown-selector__item-value--open,
.dropdown-selector__item-value--default {
  margin-left: calc(var(--menu-item-height) * 0.2);
  color: var(--color-white);
  user-select: none;
  font-weight: bold;
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing-wide);
  --responsive-text-ratio: 4;
}

.dropdown-selector__item-value--open {
  transition: 0.1s ease-in;
  opacity: 1;
}

.dropdown-selector__item-value--default {
  opacity: 0;
  transition: 0.05s ease-in;
}

