@import url(../../../../styles/tokens.css);
@import url(../../../../styles/shared-partials/_fade-animations.css);

.dropdown-selector__value--open,
.dropdown-selector__value--default {
  margin-left: calc(0.13 * var(--main-height));
  margin-right: calc(0.50 * var(--main-height));
  padding-bottom: calc(0.06 * var(--main-height));

  color: var(--color-white);
  user-select: none;
  font-weight: bold;
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing-default);
  --responsive-text-ratio: 1.1;
}

.dropdown-selector__value--open {
  animation:
    fade-out-slide-down--default
    calc(var(--menu-open-duration) * .2)
    ease-in
    forwards;
}

.dropdown-selector__value--default {
  animation:
    fade-in-slide-up--default
    calc(var(--menu-open-duration) * .6)
    ease-out
    forwards;
}

.dropdown-selector__value--default:hover {
  cursor: pointer;
}

