@import url(_body.css);
@import url(_menu.css);
@import url(_arrow.css);
@import url(_label.css);
@import url(_value.css);
@import url(_menu-item.css);
@import url(_accent-bar.css);
@import url(../../../../styles/tokens.css);

:root {
  --main-height: 100px;
  --menu-open-duration: .4s
}

.dropdown-selector {
  width: fit-content;
  height: var(--main-height);
}

/*Create animation in value*/
/*Create token in menu*/
/*The arrow is overlapping with the menu when it returns*/
