@import url(_body.css);
@import url(_menu.css);
@import url(_arrow.css);
@import url(_label.css);
@import url(_value.css);
@import url(_menu-item.css);
@import url(_accent-bar.css);
@import url(../../../../styles/tokens.css);

:root {
  --main-height: 100px;
  --arrow-size: calc(var(--main-height) * 0.35);
  --menu-item-height: calc(var(--main-height) * 0.6);
  --menu-open-duration: calc(var(--menu-item-append-delay) * var(--menu-max-visible-items) * 1ms);
  --menu-number-of-items: 100;
  --menu-max-visible-items: 4;
  --menu-item-append-delay: 100;
  --menu-item-value-append-delay: 130;
}

.dropdown-selector {
  width: fit-content;
  height: var(--main-height);
}

.testblock {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  left: 600px;
  top: 400px;
}

/*Create animation in value*/
/*Create token in menu*/
/*The arrow is overlapping with the menu when it returns*/
